/* You can add global styles to this file, and also import other style files */

:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-theme {
    --background-color: #000000;
    --text-color: #ffffff;
  }
  